@import '~antd/dist/antd.less';

body {
  background-color: #3e3e3e;
}

.app {
  width: 80%;
  min-height: 80%;
  margin: 80px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;

  .remove-btn {
    float: right;
    margin-right: 8px;
    bottom: 8px;
  }

  #target-list {
    width: 88%;

    span.item-oper {
      color: #00a;
      margin-right: 10px;
      cursor: pointer;
    }

    .item-title {
      font-size: 20px;
      font-weight: 700;
    }
  }


}